$color-headline2: #212240;
$color-headline: #32325d;
$color-description: #525f7f;

body {
  font-family: 'Brown';
  position: relative;
}

.content {
  width: 100%;
  max-width: 1234px;
  margin: 0 auto;
}