body {
  font-family: "Brown";
  position: relative;
}

.content {
  width: 100%;
  max-width: 1234px;
  margin: 0 auto;
}

.Button {
  border: none;
  border-radius: 3px;
}
.Button:hover {
  color: #CCCCCC;
  background-color: #6949CC;
  box-shadow: -7px 7px 20px rgba(111, 54, 255, 0.2), -7px 7px 20px rgba(111, 54, 255, 0.2);
  cursor: pointer;
}

/*Start section Safety*/
.Safety {
  margin-top: 200px;
  background: url("../img/Safety-bg.png") no-repeat right 100%;
  padding-bottom: 30px;
  margin-bottom: 235px;
}

.Safety__title {
  color: #32325d;
  font-size: 48px;
  font-weight: 300;
  line-height: 1.29;
  margin-bottom: 40px;
}

.Safety__description {
  color: #525f7f;
  font-size: 23px;
  font-weight: 300;
  line-height: 1.39;
  margin-bottom: 57px;
}

.Safety__options {
  display: flex;
  margin-bottom: 56px;
  justify-content: space-between;
  max-width: 471px;
}

.Safety__items {
  max-width: 200px;
}
.Safety__items h4 {
  color: #32325d;
  font-size: 30px;
  font-weight: 300;
  line-height: 2;
  margin-top: 30px;
}
.Safety__items p {
  color: #525f7f;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.56;
}

.Safety__button {
  padding: 15px 24px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: -7px 7px 20px rgba(111, 54, 255, 0.2);
  background-color: #845cff;
  margin-right: 35px;
}

.Safety__link {
  color: #32325d;
  font-size: 19px;
  font-weight: 400;
  text-decoration: none;
}

/*End section Safety*/
/*Start section Move*/
.Move {
  display: flex;
  justify-content: flex-end;
  background: url("../img/Move-bg.png") no-repeat left 50%;
  margin-bottom: 226px;
}

.Move__container {
  max-width: 555px;
}

.Move__title {
  color: #32325d;
  font-size: 48px;
  font-weight: 300;
  line-height: 1.29;
  margin-bottom: 40px;
}

.Move__description {
  color: #525f7f;
  font-size: 23px;
  font-weight: 300;
  line-height: 1.39;
  margin-bottom: 72px;
}

.Move__items {
  max-width: 200px;
}
.Move__items h4 {
  color: #32325d;
  font-size: 30px;
  font-weight: 300;
  line-height: 2;
  margin-top: 30px;
}
.Move__items p {
  color: #525f7f;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.56;
}

.Move__button {
  padding: 15px 24px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: -7px 7px 20px rgba(111, 54, 255, 0.2);
  background-color: #845cff;
  margin-right: 35px;
}

.Move__link {
  color: #32325d;
  font-size: 19px;
  font-weight: 400;
  text-decoration: none;
}

.Move__options {
  display: flex;
  margin-bottom: 56px;
  justify-content: space-between;
}

/*End section Move*/
/*Start section Finances*/
.Finances {
  background-size: auto;
  background: url("../img/Finances-bg.png") no-repeat top right;
  padding-top: 74px;
}

.Finances__title {
  color: #32325d;
  font-size: 48px;
  font-weight: 300;
  margin-bottom: 40px;
}

.Finances__description {
  color: #525f7f;
  font-size: 23px;
  font-weight: 300;
  line-height: 1.39;
  margin-bottom: 167px;
  max-width: 658px;
}

.Finances__services {
  display: flex;
  justify-content: space-between;
}
.Finances__services:first-of-type {
  margin-bottom: 110px;
}

.Finances__item {
  color: #32325d;
}
.Finances__item h4 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 60px;
}
.Finances__item p {
  font-size: 20px;
  font-weight: 300;
  line-height: 3.1;
  position: relative;
  padding-left: 40px;
}
.Finances__item p:before {
  position: absolute;
  content: " ";
  background-image: url("../img/Finances-icon.svg");
  width: 20px;
  height: 20px;
  left: 0;
  bottom: 0;
  top: 0;
  margin-top: auto;
  margin-bottom: auto;
}

/*End section Finances*/

/*# sourceMappingURL=style.css.map */
