body {
  font-family: "Brown";
  position: relative;
}

.content {
  width: 100%;
  max-width: 1234px;
  margin: 0 auto;
}

.Button {
  border: none;
  border-radius: 3px;
}
.Button:hover {
  filter: brightness(0.8);
  box-shadow: -7px 7px 20px rgba(111, 54, 255, 0.2), -7px 7px 20px rgba(111, 54, 255, 0.2);
  cursor: pointer;
}

/*Start Ready*/
.Ready {
  background-color: #fafaff;
  margin-top: 200px;
  padding-top: 160px;
  padding-bottom: 120px;
}

.Ready__container {
  display: flex;
  justify-content: space-between;
}

.Ready__title {
  position: relative;
  color: #212240;
  font-size: 48px;
  font-weight: 300;
  margin-bottom: 30px;
}
.Ready__title:before {
  content: "";
  position: absolute;
  left: 0;
  width: 50px;
  height: 10px;
  top: -44px;
  background-image: url("../img/Ready-icon.png");
}

.Ready__description {
  color: #212240;
  font-size: 23px;
  font-weight: 300;
}

.Ready__form {
  display: flex;
  padding: 32px 40px 30px 32px;
  box-shadow: -7px 7px 20px rgba(212, 212, 250, 0.2);
  border-radius: 5px;
  background-color: #ffffff;
  height: 80px;
  box-sizing: border-box;
}
.Ready__form input {
  padding: 0;
  color: #8081ab;
  font-size: 23px;
  font-weight: 300;
  letter-spacing: 0.02px;
  border: none;
}
.Ready__form button {
  background-color: transparent;
  border: none;
  color: #845cff;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 0;
}
.Ready__form button img {
  margin-left: 10px;
}
.Ready__form button:hover {
  cursor: pointer;
}

/*End Ready*/
/*Start Footer*/
footer {
  background-color: #212240;
  color: #ffffff;
}

.Footer__container {
  display: flex;
  justify-content: space-between;
  padding-top: 150px;
}

.Footer__group {
  display: flex;
  flex-direction: column;
  margin-right: 8%;
}
.Footer__group a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
}

.Footer__group1 {
  margin-right: 25.6%;
}

.Footer__group2 a,
.Footer__group3 a,
.Footer__group4 a {
  margin-bottom: 34px;
}

.Footer__group4 {
  margin-right: 0;
}

.Footer__tel-EU {
  margin-bottom: 14px;
}

.Footer__tel-US {
  margin-bottom: 50px;
}

.Footer__email {
  font-weight: 400;
}

.Footer__logo {
  margin-bottom: 58px;
  align-self: baseline;
}

.Footer__social {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.Footer__linked {
  background-image: url("../img/Footer-icon.png");
  width: 17px;
  height: 16px;
}

.Footer__facebook {
  background: url("../img/Footer-icon.png") 102px;
  width: 9px;
  height: 16px;
}

.Footer__twitter {
  background: url("../img/Footer-icon.png") 63px;
  width: 17px;
  height: 14px;
}

.Footer__github {
  background: url("../img/Footer-icon.png") 16px;
  width: 16px;
  height: 16px;
}

.Footer__container2 {
  padding: 0;
  color: #555377;
  font-size: 16px;
  font-weight: 300;
  margin-top: 143px;
  padding-bottom: 100px;
}
.Footer__container2 div {
  display: flex;
}
.Footer__container2 div a {
  text-decoration: none;
  color: #555377;
  margin-right: 20px;
}
.Footer__container2 div a:last-child {
  margin-right: 0;
}

/*End Footer*/

/*# sourceMappingURL=style.css.map */
